:root {
    --bg-color: #E6E5E1;
    --shdow-gray: #d3d3d5;
    --orange: #DA4D1D;
    --img-url: url(4.-CANGDE-GRAND-BRIDGE-359113original-c589cb5.jpg);
    
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

i {
  /* z-index: 99999; */
    opacity: 0;
    font-size: 18px;
    color: #fff;
    will-change: transform;
    transform: scale(0.1);
    transition: all 0.6s ease;
}

h2 {
    pointer-events: none;
}

/* body {
    background-color: var(--bg-color);
    width: 100vw;
    height: 100vh;
} */

/* .container1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
} */

.container1 .card {
    position: relative;
    width: 500px;
    height: 300px;
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 4px;
}

.container1 .card:after {
    bottom: -10px;
    left: 32px;
}

.container1 .card ul {
    z-index: 99;
    position: absolute;
    left: 39px;
    top: 5px;
    list-style-type: none;
}


.container1 .card h2 {
    z-index: 99;
    font-family: "Poppins", sans-serif;
    position: absolute;
    bottom: 14px;
    right: 130px;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    transition: all 2s ease-in;
}
.container1 .card h2:hover{
    transform: scale(2);
}

.container1 .card .fa-arrow-right {
    z-index: 100;
    position: absolute;
    right: 75px;
    bottom: 25px;
    font-size: 40px;
    cursor: pointer;
}

.container1 .card p {
    z-index: 99;
    position: absolute;
    top: 20px;
    right: 15px;
    color: #333;
    opacity: 0.7;
    font-size: 18px;
    letter-spacing: 1px;
    writing-mode: vertical-lr;
    transition: all 0.2s ease;
}

.container1 .card .pic1 {
    z-index: 0000;
    width: 400px;
    height: 300px;
    background-image: url(4.-CANGDE-GRAND-BRIDGE-359113original-c589cb5.jpg);
    background-size: 100% 100%;
    filter: grayscale(100%);
    transition: 0.3s ease-in-out;
}
.container1 .card .pic2 {
    z-index: 0000;
    width: 400px;
    height: 300px;
    background-image: url(1t.Millau-Viaduct-660x390.jpg);
    background-size: 100% 100%;
    filter: grayscale(100%);
    transition: 0.3s ease-in-out;
}
.container1 .card .pic3 {
    z-index: 0000;
    width: 400px;
    height: 300px;
    background-image: url(2b.gettyimages-1140964517.jpg);
    background-size: 100% 100%;
    filter: grayscale(100%);
    transition: 0.3s ease-in-out;
}
.container1 .card .pic4 {
    z-index: 0000;
    width: 400px;
    height: 300px;
    background-image: url(1o.bridge-1370547_1280-1024x682.jpg);
    background-size: 100% 100%;
    filter: grayscale(100%);
    transition: 0.3s ease-in-out;
}

.container1 .card .social {
    position: absolute;
    left: 60px;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 180px;
    height: 64px;
    border-radius: 80px;
}

.container1 .card:hover i {
    opacity: 1;
    transform: scale(1);

}

.container1 .card button {
    position: absolute;
    right: 14px;
    bottom: 14px;
    width: 30px;
    height: 30px;
    background-color: var(--orange);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    transition: all 0.5s ease;
    mix-blend-mode: hard-light;
}

.container1 .card button i {
    font-size: 3rem;
}

.container1 .card:hover button {
    transform: scale(16.5);
}



.container1 .card:hover .pic1{
    filter: grayscale(0);
    transform: filter(grayscale(0));;
    z-index: 00000;
}
.container1 .card:hover .pic2{
    filter: grayscale(0);
    transform: filter(grayscale(0));;
    z-index: 00000;
}
.container1 .card:hover .pic3{
    filter: grayscale(0);
    transform: filter(grayscale(0));;
    z-index: 00000;
}
.container1 .card:hover .pic4{
    filter: grayscale(0);
    transform: filter(grayscale(0));;
    z-index: 00000;
}

.container1 .card2 .pic1{
    background-image: var(--img-url2);
}
.container1 .card2 .pic2{
    background-image: var(--img-url2);
}
.container1 .card2 .pic3{
    background-image: var(--img-url2);
}
.container1 .card2 .pic4{
    background-image: var(--img-url2);
}
.container1 .card2 button {
    background-color: var(--blue);
}

.dr {
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 100px;
}
.scale-up-hor-right:hover{
	-webkit-animation: scale-up-hor-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-hor-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-4-2 9:5:35
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-expand-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes focus-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-800px);
              transform: translateZ(-800px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-800px);
              transform: translateZ(-800px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  
  